@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');




*{
    margin: 0;
    padding: 0;
    font-family: "Architects Daughter";
}

body{
   
  
    background: rgb(223, 241, 253);
    
    font-size: 24px;

   
    
    
}

.main-container{
    width: 95%;
    margin:auto;
    margin-top:5%;
}

.container1{
    margin-left: 2%;
}

.container2{

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 5%;

   
}



.container3{
    display: none;
    position:absolute;
    top: 26%;
    left: 40%;
}

textarea{
    box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.55);
    outline: none;
    border:none;
    width: 275px;
    height: 275px;
    padding: 40px 25px 25px 25px;

}
svg{
    color:gray;
}

#check-icon{
    position: absolute;
    right: 17%;
    top: 4%;

}

#x-icon{
    position: absolute;
    right: 5%;
    top: 4%;

}

